<div id="header">
	<div class="container">
					
	<!-- Logo -->
		<div id="logo">
		<h1><a href="">Art Gallery</a></h1>
		</div>
				
		<!-- Nav -->				
		<nav id="nav">
			<ul>
			<li><a href="/"><i class="fa fa-home">Home</i></a></li>
			<li><a href="/gallery"><i class="fa fa-camera-retro"></i>Gallery</i></a></li>
			</ul>
		</nav>

	</div>
</div>
<!-- Banner -->
<div id="banner">
	<div class="container"></div>
</div>
<!-- /Banner -->