<div class="9u">
	<section>
		<div>
		<header>
			
			<img src="/images/artist.jpg" class="artist" />
		
		
			<h2><%= artisttitle %></h2>
			<span class="byline"></span>
			</header>
			<%- artdescription %>
		
	</section>
</div>