<div class="3u">
	<section>
		<h2>Art Works</h2>
		
		<ul class="style5">
			<% for(var i=0; i< artworks.length; i++){ %>
  			<li><a href="#"><img src="/images/<%= artworks[i] %>" class="thumbnail" alt=""></a></li>

  			<% } %>

		</ul>
		<a href="#" class="button">More Collections</a>
	</section>
</div>
