<div class="9u">
	<section class="gallery-block-details">
		<div class="box">
			<span class="gallery-title"><%= galerydetails.name %></span>
			<img src="/images/<%= galerydetails.icon %>" alt="" class="gallery-detail-image">
			<p><%- galerydetails.description %></p>
			
		</div>
	</section>
	
</div>